.row
  .col-xs-8.col-xs-offset-2
    h1.text-center Analyze your copy, essay, or other text for word/number usage & frequency!
    br/
    p.text-right Just write the words by commas:
    blockquote
      p Aversion, cocoon, uptown, moonbeam, present, uptown, hitchhiker, present, mother, uptown.
    
    p.text-right Or even the whole story!
    blockquote
      p Since its public release in 1995, Ruby has drawn devoted coders worldwide. In 2006, Ruby achieved mass acceptance.
        With active user groups formed in the world’s major cities and Ruby-related conferences filled to capacity. Graph courtesy of Gmane.
        Ruby-Talk, the primary mailing list for discussion of the Ruby language, climbed to an average of 200 messages per day in 2006.
        It has dropped in recent years as the size of the community pushed discussion from one central list into many smaller groups.
        Ruby is ranked among the top 10 on most of the indices that measure the growth and popularity of programming languages worldwide (such as the TIOBE index).
        Much of the growth is attributed to the popularity of software written in Ruby, particularly the Ruby on Rails web framework. Ruby is also completely free.
        Not only free of charge, but also free to use, copy, modify, and distribute.
    
    = form_tag '/result' do
      p
        = text_area_tag(:array, nil, html_options={:class => 'form-control', :placeholder => 'Put some array through comma or write sentences to count identical words'})
      p.text-right
        = button_tag 'Press me', :class => 'btn btn-danger'
