.row
  .col-xs-8.col-xs-offset-2
    .panel.panel-default
      .panel-heading 
      table.table.table-striped
        thead
          tr
            th.text-right Word
            th.text-center How many times it occurrences in the text
        tbody
          - ident_array = find_ident(@array)
          - ident_array.each do |t|
            tr
              td.text-right = t[0]
              td.text-center = t[1]
    
    p
      = link_to 'Back', root_path, class: 'btn btn-danger'
